/*
// Override Bulma derived-variables
*/
// $primary: red;

/*
// Local theme variables
*/

// colors
$navmenu-background-color: green;
$navmenu-color: white;
$counter-button-color: $primary;
$h1-color: #fff;
